    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">ADMIN RESERVAS</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 text-white bi-house"></i> <span class="ms-1 d-none text-white d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admon_mobilhome') }}" class="nav-link px-0 align-middle">
                    <i class="fs-4 text-white bi-building"></i> <span class="ms-1 text-white d-none d-sm-inline">Mobil Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 text-white bi-table"></i> <span class="ms-1 d-none text-white d-sm-inline">Reservas</span></a>
            </li>
            <li>
                <a href="{{ path('admon_estado') }}" class="nav-link px-0 align-middle">
                    <i class="fs-4 text-white bi-stoplights"></i> <span class="ms-1 d-none text-white d-sm-inline">Estados</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 text-white bi-person"></i> <span class="ms-1 d-none text-white d-sm-inline">Usuarios</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 text-white bi-people"></i> <span class="ms-1 d-none text-white d-sm-inline">Grupos de usuarios</span> </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">loser</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>