
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/.env
.env

/.idea
/.idea/*
/.idea/workspace.xml
/materiales/client_secret_133503232576-83k573jbl0mjn97bugv8gtrg7p9tn1tp.apps.googleusercontent.com.json
/materiales/datos_auth0
/materiales/*
/node_modules/*
