{% extends 'base.html.twig' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block body %}
    <div class="container text-center form-signin">
        <div class="row">
            <h1>Restablecer contraseña</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Restablecer contraseña</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
