{% extends 'base.html.twig' %}

{% block title %}Reservar!{% endblock %}

{% block body %}
<div class="container">
    <form>
        <h1>Reservar </h1>
        <div class="row">
            <div class="col-md-6">
                {# <span class="input-group-text" id="basic-addon1">Desde</span>
                <input type="text" id="startButton" class=".startDatePicker col-md-12 form-control"/> #}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Desde</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                 </div>
            </div>

            <div class="col-md-6">
                <label for="endButton">Hasta:</label><br>
                <input type="text" id="endButton" class=".endDatePicker col-md-12 form-control"/>
            </div>
            <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="submit" value="Reservar" id="resButton" class="btn btn-info col-md-12">
            </div>
            <div class="col-md-4"></div>
                
            </div>
        </div>
    </form> 
</div>
    
{% endblock %}
