{% extends 'base.html.twig' %}
    {% block title %} 
        Sitio de reservas
    {% endblock %}
     
    {% block body %}
        {% include "/includes/carousel.html.twig" %}
        <br>
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Vinaroz </h2>
                    <p class="lead">Vinaroz , unos 100 km. 1,30 horas. Dirección Tortosa, un tramo gratuito de AAAP 7. 3 zonas de aparcamiento a 5 minutos de la playa, y esta con chiringuitos varios con menús sobre 13-15 euros.</p>
                </div>
                <div class="col-md-5">
                <img id="img_ancha" src="/images/camping_6.jpg" class="card-img" alt="Comedor" width="500">
                </div>
            </div>
        <hr>
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Hotel Más</h2>
                    <p class="lead">Camping a Hotel Más de la Costa = 3,4 km. todo subida</p>
                </div>
                <div class="col-md-5 order-md-1">
                <img id="img_ancha" src="/images/camping_5.jpg" class="card-img" alt="Cocina" width="500">
                </div>
            </div>
        <hr>
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Ermita de la Magdalena</h2>
                    <p class="lead">Desde el cruce del camino, solo 30 min. de subir y 30 minutos de bajar, una vez arriba se puede hacer más recorrido por el bosque, paisaje...</p>
                </div>
                <div class="col-md-5">
                <img id="img_ancha" src="/images/camping_2.jpg" class="card-img" alt="Habitaciones" width="500">
                </div>
            </div>
        </div>

            <hr class="featurette-divider">
            <h2 class="text-center">Restaurantes cercanos</h2>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title text-center">POSADA GUADALUPE</h5>
                    <img src="/images/guadalupe.jpg" class="card-img-top" alt="guadalupe">
                    
                    <p class="card-text">Collado, 30
                    MONROYO
                    978 856 005
                    Menú fin de semana: 20€
                    Menú del día: 15€
                    .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title text-center">CALACEITE</h5>
                    <img src="/images/fonda.jpg" class="card-img-top" alt="fonda">
                
                    <p class="card-text">FONDA ALCALA
                    Avda. Cataluña Nº 49
                    Telf. 978 851 028
                    .</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title text-center">BECEITE</h5>
                    <img src="/images/font.jpeg" class="card-img-top" alt="font">
                    
                    <p class="card-text">FONT DEL PAS
                    Ctra. Valderrobres, s/n
                    978 890 443 – 629 088 932
                    </p>
                    </div>
                </div>
            </div>
    {% endblock %}
