{% extends 'base.html.twig' %}
    {% block title %} 
        Sitio de reservas
    {% endblock %}
     
    {% block body %}
        <!-- CONTENT IMAGES -->
        <hr>
        <div class="container">
        <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading">Comedor </h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
           <img src="https://www.visitvalencia.com/sites/default/files/styles/gallery_default/public/crm-images/GALERIA_Hostal%20Antigua%20Morellana_hostalantiguamorellana02.jpeg?itok=aDHILIPX" class="rounded float-right" alt="Comedor" width="500">
        </div>
        </div>

        <hr>

        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Cocina</h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
           <img src="https://i.pinimg.com/originals/24/dd/ee/24ddeee77ddab6e63edc8f14af4a21a9.jpg" class="rounded float-left" alt="Cocina" width="500">
        </div>
        </div>

        <hr>

        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Habitaciones</h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <img src="https://www.palafoxhoteles.com/sites/default/files/styles/big/public/habitaciones-hotel-palafox-9.jpg?itok=AwjSeIXp" class="rounded float-right" alt="Habitaciones" width="500">
        </div>
        </div>
        </div>

        <hr class="featurette-divider">

    {% endblock %}
