<nav class="py-2 bg-dark border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-light px-2 active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Contacto</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-light px-2">Admin reservas</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Sign up</a></li>
      </ul>
    </div>
</nav>