<footer class="container">
    <p class="float-end"><a href="#">Ir arriba</a></p>
    <a target="_blank" href="https://www.instagram.com/rubenbitrianc/"><i class="bi bi-instagram"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/rubenbitrian/"><i class="bi bi-linkedin"></i></a>
    <a target="_blank" href="https://twitter.com/cybernegocio"><i class="bi bi-twitter"></i></a>
    <p>&copy; 2021 Familia Bitrian &middot; <a href="#">Terminos de privacidad </a></p>
</footer>