{% extends 'base.html.twig' %}

{% block title %}Estados de las reservas{% endblock %}

{% block body %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        {% for item in arr %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
