{% extends 'admin.html.twig' %}

{% block title %}Administrador de mobilhomes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Formulario de mobilhomes</h1>
            {{ form(form) }}
            <a class="btn btn-primary btn-sm" href="{{ path('admon_mobilhome') }}">Volver</a>
        </div>
    </div>

{% endblock %}