{% extends 'admin.html.twig' %}

{% block title %}Hello UserGroupController!{% endblock %}

{% block body %}
    <h1 class="display-4 fst-italic text-center">Crear Usuario</h1>
        {{form(frmUser)}}
{% endblock %}
